
body{
	color: white;
}

.main{
	
}

.filesView {
	display: flex;
	min-height: 100vh;
}

.leftFiles{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 1px solid gray;
}


.rightFiles{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 1px solid gray;
}